// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#page-wrapper{
  margin: 0 !important;
}
table.dataTable thead .sorting_desc::after{
  content: "" !important;
}
table.dataTable thead .sorting_asc::after{
  content: "" !important;
}
table.dataTable thead .sorting::after{
  content: "" !important; 
}