<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <%= link_to "Books", root_path, :class => "navbar-brand" %>
  </div>
</nav>